*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit; 
}

@font-face {
	font-family: sharp-sans;
	src: url("../sharp-sans/Sharp Sans Medium.otf");
}

@font-face {
	font-family: sharp-sans-bold;
	src: url("../sharp-sans/SharpSansBold.otf");
}

:root {    
	--color-black: #212121;
	--color-red: #F8513A;
	--color-blue: #306DED;
	--color-green: #2CA940;
	--color-raspberry: #9d173c;
	--color-pink: #FF94D5;
	--color-white: #F7F5F0;
	--color-grey: #6B7280;
	--color-light: #FCFAF9;

	--ff-title: "Bricolage Grotesque", sans-serif;
	--ff-text: sharp-sans, sans-serif;
}

/* General styles */
html {
  	scroll-behavior: smooth; 
} 


body {
	position: relative;
	line-height: 1.5;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: var(--ff-text); 
	background-color: var(--color-white);
	color: var(--color-black);
	font-size: 1rem; 
}

a {
	text-decoration: none;
	color: inherit; 
}

li {
  	list-style: none; 
}

input:focus,
button:focus,
a:focus,
textarea:focus {
	outline: none; 
}


/* ---------- typography ---------- */
h1 {
	font-size: 4rem;
	letter-spacing: 3px;
	text-align: left; 
	margin: 0 0 0.5em; 
	font-family: var(--ff-title);
	color: var(--color-red);
	line-height: 1;
}
@media only screen and (max-width: 37.5em) {
	h1 {
		font-size: 3rem; 
	} 
}

h2 {
	font-size: 3rem;
	letter-spacing: 3px;
	text-align: center; 
	margin: 0 0 0.8em; 
	font-family: var(--ff-title);
	line-height: 1;
}
@media only screen and (max-width: 37.5em) {
	h2 {
		font-size: 2rem; 
	} 
}

h3 {
	font-size: 1.3rem;
	margin: 0 0 0.8em; 
	font-family: var(--ff-title);
	line-height: 1;
}


p {
	text-align: left; 
	margin-bottom: 1em;
}

.btn {
	display: block;
	border-radius: 5px;
	transition: transform .3s; 
	font-family: var(--ff-text);
	border-radius: 10px;
	cursor: pointer; 
}
	
.btn:hover {
	transform: translateY(-3px); 
	text-decoration: underline;
}

.btn-big {
	padding: 1em 2em;
	font-size: 1.2rem; 
	text-align: center;
	margin: 1.5em auto 0;
	width: fit-content;
	font-family: "sharp-sans-bold", sans-serif;
	border-width: 3px;
	border-style: solid;

}

.btn-med {
	padding: 0.5em 1.2em; 
	border-radius: 10px;
	font-size: 1rem; 
	border-width: 1px;
	border-style: solid; 
}

.btn-green {
	border-color: var(--color-green);
	color: var(--color-green);
}

.main-container {
	max-width: 70rem;
	margin: auto;
	width: 80%; 
}


.text-highlight {
	color: var(--section-color);
	font-family: "sharp-sans-bold", sans-serif;
}

.hightlight-green {
	color: var(--color-green);
}

.hidden {
	display: none; 
}


/* ========== Header ========== */
header {
	position: fixed;
	width: 100%;
	height: 70px; 
	z-index: 1000;
	border-bottom: 2px solid var(--color-black);
	background: var(--color-white);
	display: flex; 
	align-items: center;
}

.header__container {
	width: 100%;
	display: flex;
	padding: 0 1.5em; 
}

/* logo */
.header__logo-container {
    cursor: pointer;
	position: relative;
	margin-right: auto;
}

.header__logo-container svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(0, -50%);
}

.logo-hover {
	opacity: 0;
	transition: opacity .3s ease;
}

.header__logo-container:hover .logo-hover{
	opacity: 1; 
}

/* nav bar for wide screen */
.header__links {
	display: flex; 
}
@media only screen and (max-width: 37.5em) {
	.header__links {
		display: none; 
	} 
}

.header__links li {
	margin-left: 1.5rem;
	display: inline-block;
	color: var(--color-black);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	transition: color .3s; 
}

.header__links a:hover, .header__links a:focus {
	color: var(--hover-color); 
}

/* nav bar for narrow screen*/
.header__hamburger {
	display: none;
	width: 2rem;
	background: var(--color-white);
}
@media only screen and (max-width: 37.5em) {
	.header__hamburger {
		display: block; 
	} 
}

.header__small-nav {
	display: none;
	position: absolute;
	background: var(--color-white);
	width: 100%;
	top: 100%;
	transition: all .3s;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 37.5em) {
	.header__small-nav {
		display: block; 
	} 
}

.header__small-nav li {
	display: block;
	text-decoration: none;
	padding: 1em 2em;
	text-align: right;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: color .3s; 
}

.header__small-nav li:first-child {
    border-top: 1px solid var(--color-black);
}

.header__small-nav li:not(:last-child) {
    border-bottom: 1px solid var(--color-black);
}


/* ========== Hero section ========== */
.hero {
	height: 100vh;
	max-height: 80rem;
}
@media only screen and (max-width: 37.5em) {
    .hero {
      height: unset;
      min-height: unset; 
	} 
}

.hero__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* ========== About me section ========== */

.about-me__intro-container {
	display: flex; 
	justify-content: space-between;
	align-items: start;
}


.photo-container {
	aspect-ratio: 1 / 1;
	border: 2px solid var(--section-color);
	width: 30%; 
	border-radius: 50%;
	overflow: hidden;
}

.photo-container img {
	object-fit: cover;
	width: 100%;
    height: 100%;
}

.about-me__right-container {
	width: 60%;
}

.intro-text-container {
	margin-bottom: 2em;
}

.experience__item {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
	justify-content: left;
}

.experience__content {
	border-left: 2px solid #ccc;
	padding: 0 1em; 
}

.experience__date {
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.experience__org {
    margin: 0.2rem 0;
    font-size: 1.2rem;
}

.experience__title {
    font-weight: 600;
    color: var(--color-grey);
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 56.25em) {
	.about-me__intro-container {
		flex-direction: column; 
		gap: 2em; 
		align-items: center;
	}
	
	.about-me__right-container {
		width: 100%;
	}

	.photo-container {
		width: 180px; 
	}
}



/* ========== Project section ========== */

.section-padding {
  	padding: 3.5em 0; 
}
@media only screen and (max-width: 56.25em) {
    .section-padding {
      	padding: 4em 0; 
	} 
}

.section__header {
	margin-bottom: 2em; 
}
@media only screen and (max-width: 56.25em) {
	.section__header {
		margin-bottom: 2em; 
	} 
}

.section__header-main {
	text-transform: uppercase;
	margin-bottom: 0.5em;
	border-bottom: 2px solid var(--section-color);
	color: var(--section-color);
}

.section__header-sub {
	display: block;
	font-size: 1rem;
	font-weight: 500;
	max-width: 80rem;
	margin: auto;
	line-height: 1.6; 
}


/* ===================== project details page =================*/

/* project header */
.project-cs-hero__content {
	padding: 12em 0 5em;
	max-width: 90em;
	width: 92%;
	margin: auto; 
	display: grid; 
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	column-gap: 1em;
	grid-template-areas: 
		"img title"
		"img subtitle";
	align-items: center;
	justify-content: space-around;
}
@media only screen and (max-width: 37.5em) {
	.project-cs-hero__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2em;
		margin: auto;
		transform: translate(0, 0); 
	} 
}

.project-header-img {
	grid-area: img;
	max-width: 280px; 
	width: 100%;
	margin: 0 auto;
}

.project-heading {
	grid-area: title; 
	margin: 0 auto;
	text-align: center;
	line-height: 1;
}

.project-live-button {
	grid-area: subtitle; 
	margin: 0 auto;
	display: flex; 
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 3em; 
	row-gap: 1em; 
}
@media only screen and (max-width: 37.5em) {
	.project-live-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	} 
}

.project-live-button a {
	text-align: center;
	margin: 0 auto;
	width: 150px; 
}


/* ----------- contact ---------- */  
.email {
	text-decoration: underline;
}


/* footer */
.footer__container {
	padding: 2em; 
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em; 
	font-size: 0.8rem; 
	color: var(--color-grey);
}

.footer__social-list {
	display: flex; 
	justify-content: center;
	gap: 1em; 
}

.footer__icon {
    font-size: 2rem; 
}



/* ===================== Learning Journal =================*/

.journal__main {
	padding-top: 110px; 
}

.journal__heading {
	color: var(--color-green);
}

.journal__projects-container {
	margin-top: 1em; 
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 1em; 
}

.project-card {
	background: var(--color-light);
	padding: 1em; 
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
	display: flex; 
	flex-direction: column;
	gap: 1em; 
	border-radius: 10px;
}

time {
	color: var(--color-grey);
	font-size: 0.8rem; 
}

.project-card__img-container {
	aspect-ratio: 16 / 9;
	overflow: hidden;
	border-radius: 10px;
}

.project-img {
	object-fit: cover;
	width: 100%;
}

.project-card__title {
	color: var(--color-green);
}

.project-card__description {
	margin-bottom: 0;
}

.project-card__tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.3em; 
}

.skill-tag {
	padding: 0.2em 0.8em; 
	border-radius: 20px;
	font-size: 0.8rem; 
	color: var(--color-grey);
	border: 1px solid var(--color-grey);
}

.project-card__actions {
	display: flex; 
	justify-content: left;
	font-size: 1rem;
	margin-top: auto; 
	gap: 0.4em; 
}

.project-card__btn {
	padding: 0.5em 1.2em; 
	border-radius: 10px;
	border: 1px solid var(--color-green);
	color: var(--color-green);
}

.fab, .fas {
	margin-right: 0.3em; 
}












.section-title {
	font-weight: 700;
	font-size: 2.8rem;
	margin-top: 3rem; 
	margin-bottom: 1rem; 
	color: var(--color-black);
	font-family: var(--ff-title);
}
@media only screen and (max-width: 37.5em) {
	.section-title {
		font-size: 2.4rem; 
	} 
}

.project-details__content {
	padding: 5rem 0;
	max-width: 70rem;
	margin: auto; 
}

.project-details__content li {
	list-style: inside;
}

.project-details__desc-para {
    font-size: 1.8rem;
    line-height: 1.7;
    margin-bottom: 2rem; 
}

.project-details__desc-list {
	font-size: 1.8rem;
    line-height: 1.7;
	margin-bottom: 0; 
}

.project-details__links {
	margin: 0 0; 
}

.project-details__links-btn {
	margin-right: 2rem; 
}
@media only screen and (max-width: 37.5em) {
	.project-details__links-btn {
		margin-right: 0;
		width: 70%;
		margin-bottom: 2rem;
		text-align: center; 
	} 
}

.project-details__links-btn:last-child {
	margin: 0; 
}
@media only screen and (max-width: 37.5em) {
	.project-details__links-btn:last-child {
		margin: 0; 
	} 
}


